<head>
  <title>CodeBuddy</title>
  <link href="<%= @static_file_prefix  %>stylesheets/code_buddy.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="<%= @static_file_prefix  %>stylesheets/coderay.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="<%= @static_file_prefix  %>javascripts/jquery.js" type="text/javascript"></script>
  <script src="<%= @static_file_prefix  %>javascripts/jquery.hotkeys.js" type="text/javascript"></script>
  <script src="<%= @static_file_prefix  %>javascripts/underscore.js" type="text/javascript"></script>
  <script src="<%= @static_file_prefix  %>javascripts/backbone.js" type="text/javascript"></script>
</head>
